@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@200;300;600&display=swap');
.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color:  #265a5b;
    height: 150px;
  }
  
  .NavMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .NavMenu li {
    font-size: 16px;
    padding: 30px;
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
  }
  
  .NavMenu li a {
    text-decoration: none;
    color: #7a0000;
  }
  
  .NavMenu li a:hover {
    color: #003C3B;
  }
  
  .NavMenu li.active a {
    color: #7a0000;
  }
  
  .NavLogo {
    width: 200px;
    height: auto;
  }
  