@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Goldman&family=Onest&family=Poppins:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Onest&family=Poppins:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Onest&family=Poppins:wght@200;300;600&display=swap');
.MenuNav{
    background-color: #265a5b;
    height: 350px;
}

.desc{
    width: 45%;
    margin: 20px auto;
    padding-top: 40px;
}
.desc p{
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    margin-bottom: 80px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .card {
    width: calc(50% - 10px);
    position: relative;
    transition: filter 0.3s;
  }
  
  .card-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: filter 0.3s; 
  }
  
  .card-content {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Poppins', sans-serif;
    color: #7a0000;
    text-transform: uppercase;
  }
  
  .card:hover .card-image {
    filter: brightness(0.7); 
}
  
  .card:hover .card-content {
    opacity: 1;
  }
  
  .description-hidden {
    display: none;
  }
  
  .card h3 {
    margin: 0;
  }
  #dishes{
    font-family: 'Black Ops One', cursive;
    color:#265a5b;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 90px;
  }
  .flex-container{
    width: 70%;
    margin: -290px auto;
    padding-bottom: 350px;
  }
.scroll-image-container {
  position: relative;
  width: 100%;
  height: 600px; 
  overflow: hidden;
  filter: brightness(0.5); 
  transition: transform 0.5s ease;
  transform-origin: bottom;
}

.scroll-image-container img {
  width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px; 
  font-weight: bold;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  letter-spacing: 5px;
  font-family: 'Onest', sans-serif;
  cursor: pointer;
}

.image-text::before {
  content: 'CHECK OUR MENU';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: #fff; 
  text-shadow: inherit; 
  letter-spacing: inherit; 
}
#menu{
  margin-top: 50px;
  width: 70%;
  margin: 0 auto;
}
.menu-section h2{
  font-family: 'Onest', sans-serif;
  color: #444;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menu-item {
  background-color: #fff; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.menu-header h4 {
  margin: 0;
  font-size: 18px;
  color: #777;
  font-family: 'Poppins', sans-serif;

}

.menu-item p {
  color: #999; 
  font-size: 16px;
 text-align: start;
 font-family: 'Poppins', sans-serif;

}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}
#lastmenusection{
  margin-bottom: 100px;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px; 
  overflow: hidden;
  margin-bottom: 200px;
}

.gallery img {
  width: auto;
  height: 100%;
  animation: moveUpDown 4s linear infinite;
  margin: 10px 0; /* Adjust margin as needed */
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}
